[submodule "reactjs/desafios/todo-list"]
	path = reactjs/desafios/todo-list
	url = https://github.com/joaoMarcos777/todo-list
[submodule "explorer/aulas/explorer-projeto-01"]
	path = explorer/aulas/explorer-projeto-01
	url = https://github.com/joaoMarcos777/explorer-projeto-01
[submodule "explorer/desafios/fluttuar"]
	path = explorer/desafios/fluttuar
	url = https://github.com/joaoMarcos777/fluttuar
[submodule "explorer/aulas/explorer-projeto-02"]
	path = explorer/aulas/explorer-projeto-02
	url = https://github.com/joaoMarcos777/explorer-projeto-02
[submodule "explorer/desafios/rocket-sect"]
	path = explorer/desafios/rocket-sect
	url = https://github.com/joaoMarcos777/rocket-sect
[submodule "explorer/aulas/explorer-projeto-03"]
	path = explorer/aulas/explorer-projeto-03
	url = https://github.com/joaoMarcos777/explorer-projeto-03
[submodule "explorer/desafios/mentoring"]
	path = explorer/desafios/mentoring
	url = https://github.com/joaoMarcos777/mentoring
[submodule "explorer/aulas/explorer-projeto-06"]
	path = explorer/aulas/explorer-projeto-06
	url = https://github.com/joaoMarcos777/explorer-projeto-06
[submodule "explorer/aulas/explorer-projeto-05"]
	path = explorer/aulas/explorer-projeto-05
	url = https://github.com/joaoMarcos777/explorer-projeto-05
[submodule "explorer/aulas/explorer-projeto-04"]
	path = explorer/aulas/explorer-projeto-04
	url = https://github.com/joaoMarcos777/explorer-projeto-04
[submodule "explorer/aulas/explorer-projetos-js"]
	path = explorer/aulas/explorer-projetos-js
	url = https://github.com/joaoMarcos777/explorer-projetos-js
[submodule "explorer/desafios/explorer-js-practice-01"]
	path = explorer/desafios/explorer-js-practice-01
	url = https://github.com/joaoMarcos777/explorer-js-practice-01
[submodule "explorer/desafios/cat-blog"]
	path = explorer/desafios/cat-blog
	url = https://github.com/joaoMarcos777/cat-blog
[submodule "explorer/desafios/sem-limites"]
	path = explorer/desafios/sem-limites
	url = https://github.com/joaoMarcos777/sem-limites
[submodule "explorer/desafios/explorer-intensivo-js"]
	path = explorer/desafios/explorer-intensivo-js
	url = https://github.com/joaoMarcos777/explorer-intensivo-js
[submodule "explorer/desafios/explorer-js-practice-02"]
	path = explorer/desafios/explorer-js-practice-02
	url = https://github.com/joaoMarcos777/explorer-js-practice-02
[submodule "explorer/aulas/bmi-calculation"]
	path = explorer/aulas/bmi-calculation
	url = https://github.com/joaoMarcos777/bmi-calculation
[submodule "explorer/aulas/guess-game"]
	path = explorer/aulas/guess-game
	url = https://github.com/joaoMarcos777/guess-game
[submodule "explorer/desafios/fortune-cookie"]
	path = explorer/desafios/fortune-cookie
	url = https://github.com/joaoMarcos777/fortune-cookie
[submodule "explorer/desafios/focus-timer-2.0"]
	path = explorer/desafios/focus-timer-2.0
	url = https://github.com/joaoMarcos777/focus-timer-2.0
[submodule "explorer/aulas/focus-timer"]
	path = explorer/aulas/focus-timer
	url = https://github.com/joaoMarcos777/focus-timer
[submodule "explorer/aulas/github-favorites"]
	path = explorer/aulas/github-favorites
	url = https://github.com/joaoMarcos777/github-favorites
[submodule "explorer/desafios/spa-universe"]
	path = explorer/desafios/spa-universe
	url = https://github.com/joaoMarcos777/spa-universe

[submodule "explorer/aulas/explorer-projeto-07"]
	path = explorer/aulas/explorer-projeto-07
	url = https://github.com/joaoMarcos777/explorer-projeto-07
[submodule "explorer/aulas/explorer-projeto-07"]
	path = explorer/aulas/explorer-projeto-07
	url = https://github.com/joaoMarcos777/explorer-projeto-07
