[submodule "reactjs/desafios/todo-list"]
	path = reactjs/desafios/todo-list
	url = https://github.com/joaoMarcos777/todo-list
[submodule "explorer/aulas/explorer-projeto-01"]
	path = explorer/aulas/explorer-projeto-01
	url = https://github.com/joaoMarcos777/explorer-projeto-01
[submodule "explorer/desafios/fluttuar"]
	path = explorer/desafios/fluttuar
	url = https://github.com/joaoMarcos777/fluttuar
[submodule "explorer/aulas/explorer-projeto-02"]
	path = explorer/aulas/explorer-projeto-02
	url = https://github.com/joaoMarcos777/explorer-projeto-02
[submodule "explorer/desafios/rocket-sect"]
	path = explorer/desafios/rocket-sect
	url = https://github.com/joaoMarcos777/rocket-sect
